<aside class="sidebar" onmouseenter="expandSidebar()" onmouseleave="collapseSidebar()" th:fragment="sidebar">
  <div class="brand"><h6>Intrusion Detection System</h6></div>
  <nav>
    <ul>
      <li>
        <a th:href="@{/home}"
          ><i class="fas fa-server"></i> <span>Servers</span></a
        >
      </li>
      <li>
        <a th:href="@{/multiterminal}"
          ><i class="fa-solid fa-list-check"></i> <span>Multi Terminal</span></a
        >
      </li>
    </ul>
  </nav>
  <div class="sidebar-toggle" >
    <i class="fas fa-chevron-left"></i>
  </div>
</aside>
